:root {
  --colNum: 10;
}

.App {
  text-align: center;
}



/* .grid-container {
  display: grid;
  grid-template-columns: repeat(var(--colNum), 32px);
  width: 320px;
  height: 320px;
} */

.node {
  background-image: url('../src/images/Grass02.png');
  color: tan;
  font-size: 16px;
  width: 32px;
  height: 32px;
}
.iron {
  background-image: url('../src/images/mountain.png'), url('../src/images/Grass02.png');
  color: blue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
